@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    background: url(../imagens/bg-repeat.jpg);
    height: 100vh;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pergunta {
    width: 40vw;
    font-family: 'Roboto', sans-serif;
}

.pergunta h2 {
    font-size: 30px;
    color: #fff;
}

.pergunta p {
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

.formulario {
    background: #fff;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario ul {
    list-style-type: none;
    margin-top: 20px;
}

.formulario ul li input {
    margin-top: 20px;
    width: 350px;
    height: 35px;
    border: 1px solid #000000;
    padding: 0 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.formulario ul li input::placeholder {
    color: #A8A8A8;
    font-weight: 700;
}

.formulario textarea {
    margin-top: 20px;
    width: 350px;
    height: 150px;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    resize: none;
}

.formulario textarea::placeholder {
    color: #A8A8A8;
    font-weight: 700;
}

.formulario .informativo {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    width: 350px;
}

.formulario button {
    margin-top: 20px;
    width: 350px;
    height: 35px;
    border: none;
    background: #3CCC87;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
}

.mensagem-erro {
    font-family: 'Roboto', sans-serif;
    color: #ff0000;
    font-size: 10px;
    position: absolute;
    display: none;
}

.mostrar-erro {
    display: block;
}

.sucesso {
	border: 1px solid green !important;
}

.vazio {
    border: 1px solid red !important;
}